# Horarios (Modo Administrador)

In [1]:
import subjects

Aquí puedes consultar la lista de horarios, modificar las asignaturas o hacer otro tipo de cambios.

## Asignaturas

In [5]:
df = subjects.cargar_archivo('./Programacion.xlsx')
display(df)

,Programas,NRC,Clave,Materia,Secc,Dias,Hora,Profesor,Salon,Listas_cruzadas
0,Programa A,10001,Clave 1,Materia 1,OO1,AJ,1300-1459,Profesor 1,Edificio 2/006,NaN
1,Programa A,10001,Clave 1,Materia 1,OO1,LM,0900-1059,Profesor 2,Edificio 2/006,NaN
2,Programa A,10001,Clave 1,Materia 1,OO1,V,0900-0959,Profesor 2,Edificio 2/006,NaN
3,Programa A,10001,Clave 1,Materia 1,OO1,V,1400-1459,Profesor 1,Edificio 2/006,NaN
4,Programa A,10002,Clave 2,Materia 2,OO1,A,1100-1259,Profesor 3,Edificio 4/111,NaN
...,...,...,...,...,...,...,...,...,...,...
1256,Programa E,10711,Clave 246,Servicio Social,OO1,NaN,-,Profesor 160,VIRTUAL/,NaN
1257,Programa E,10712,Clave 247,Practica Profesional,OO1,NaN,-,Profesor 135,VIRTUAL/,NaN
1258,Programa E,10713,Clave 247,Practica Profesional,OO2,NaN,-,Profesor 148,VIRTUAL/,NaN
1259,Programa E,10714,Clave 246,Servicio Social,OO2,NaN,-,Profesor 148,VIRTUAL/,NaN
1260,123123,77777,123123,123123,123123,123123,123123,123123,123123,123

### Búsqueda

In [7]:
clave_asignatura = input("Ingrese el NRC o la Clave de la asignatura a buscar:")
asignatura_encontrada = subjects.buscar_asignatura(df, clave_asignatura)
display(asignatura_encontrada)

Ingrese el NRC o la Clave de la asignatura a buscar: 123123

,Programas,NRC,Clave,Materia,Secc,Dias,Hora,Profesor,Salon,Listas_cruzadas
1260,123123,77777,123123,123123,123123,123123,123123,123123,123123,123